@import '/dist/css/common/base.css';
html,
body {
  background-color: #f4f4f4;
}
li {
  text-decoration: none;
}
.head {
  background-color: #ff841d;
  color: #FFFFFF;
  height: 44px;
  width: 100%;
  position: relative;
}
.head .back {
  position: absolute;
  top: 0;
  left: 0;
}
.head .back a {
  display: block;
  width: 50px;
  height: 44px;
  margin-right: 10px;
  text-align: center;
  line-height: 44px;
  color: white;
}
.head .back a i {
  font-size: 26px;
}
.head .h1s {
  text-align: center;
}
.head .h1s h1 {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
  height: 44px;
  line-height: 44px;
}
.head .home {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;
}
.head .home img {
  width: 35px;
}
.cont ul {
  padding-left: 0;
}
.cont ul li {
  background-color: #fff;
  padding: 14px 8px;
  list-style: none;
}
.cont ul li a .cont-left {
  float: left;
}
.cont ul li a .cont-left img {
  width: 100px;
  height: 100px;
}
.cont ul li a .cont-right {
  margin-left: 110px;
}
.cont ul li a .cont-right .title {
  color: #333333;
  word-break: break-all;
  font-size: 15px;
  line-height: 19px;
  min-height: 57px;
  text-align: left;
  font-weight: normal;
}
.cont ul li a .cont-right .title span {
  color: #ff6c00;
  display: inline;
}
.cont ul li a .cont-right .other {
  margin-top: 8px;
  color: #a1a1a1;
}
.cont ul li a .cont-right .other .mall {
  font-size: 12px;
  float: left;
}
.cont ul li a .cont-right .other .comment {
  font-size: 12px;
  float: right;
}
.pages {
  background-color: #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pages table {
  width: 100%;
  text-align: center;
}
.pages table tr td:nth-of-type(1) {
  width: 28%;
}
.pages table tr td:nth-of-type(2) {
  width: 44%;
}
.pages table tr td:nth-of-type(3) {
  width: 28%;
}
.pages table tr td select {
  border: 1px solid #bababa;
  font-size: 16px;
  width: 130px;
  vertical-align: middle;
  height: 32px;
}
.pages table tr td select option {
  width: 130px;
  height: 20px;
  font-size: 12px;
}
.pages table tr td a {
  display: inline-block;
  height: 34px;
  padding: 8px 20px;
  background-color: #d4d4d4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d4d4d4));
  border-bottom: 1px solid #bababa;
  box-shadow: 0 0 1px #666;
  color: #000;
  border-radius: 5px;
  font-size: 14px;
}
.nav {
  background-color: #f4f4f4;
  height: 36px;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  line-height: 36px;
  padding-left: 8px;
  font-size: 16px;
  color: #000;
}
.nav a {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
  color: #000;
  display: inline-block;
}
.bottom {
  background-color: #f4f4f4;
}
.bottom .bottom-top ul {
  border: 1px solid #c4c4c4;
}
.bottom .bottom-top ul li {
  float: left;
  width: 33.33%;
}
.bottom .bottom-top ul li a {
  color: #5a5a5a;
  margin-right: -1px;
  line-height: 36px;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
}
.bottom .bottom-bott {
  padding: 15px;
}
.bottom .bottom-bott p {
  line-height: 15px;
  text-align: center;
}
.bottom .bottom-bott p a {
  display: inline-block;
}
.guanggao {
  background-color: #e0e0e0;
}
.iconfont {
  padding-right: 8px;
}
